<form #auth="ngForm" >
    <label for="email">Email</label>
    <input email 
      required
      ngModel 
      name="email"
      type="text"
      id="email"
      class="form-control"
      formControlName="email"
    />
    <div
    *ngIf="email.invalid && email.touched"
    class="alert alert-danger">
    Veuillez saisir un email valide
  </div>
    <br/>
    <label for="password">Password</label>
    <input
      minlength="4"
      required
      ngModel 
      name="password"
      type="password"
      id="password"
      class="form-control"
      formControlName="password"
    />
    <br/>
    <button class="btn btn-primary" type="submit" [disabled]="auth?.invalid ?? false" (click)="login(auth)">S'authentifier</button>
  </form>
